[submodule "third_party/libsrtp"]
	path = third_party/libsrtp
	url = https://github.com/cisco/libsrtp.git
[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "third_party/usrsctp"]
	path = third_party/usrsctp
	url = https://github.com/sctplab/usrsctp.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "third_party/coreHTTP"]
	path = third_party/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP
[submodule "third_party/coreMQTT"]
	path = third_party/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT
