[submodule "third_party/libsrtp"]
	path = third_party/libsrtp
	url = https://github.com/cisco/libsrtp.git
[submodule "third_party/usrsctp"]
	path = third_party/usrsctp
	url = https://github.com/sctplab/usrsctp.git
